<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="contenedorGeneral">
            <img id="nubesAnimacion" src="Nubes_animacion.svg">
            <img id="Logo" src="Weather_Logo.svg">
            <h2>{{title}}: {{errorMessage}}</h2>
        </div>
    </body>
        
</html>