<!DOCTYPE html>
<html>
    <head>
        
        
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>Created by {{name}}</p>
        <form>
            <input placeholder="Location">
            <button id="button">Search</button>
            <input id="button2" type="button">Search2</button>
            <input id="button3" type="submit">Search3</button>
            <h2 id = "h2">valor</h2>
        </form>
        
    </body>
        <script src="Front.js"></script>
</html>