<!DOCTYPE html>
<html>
    <head>
        
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="contenedorGeneral">
            <img id="nubesAnimacion" src="Nubes_animacion.svg">
            <img id="Logo" src="Weather_Logo.svg">
            <h2>Global weather information</h2>
            <form>
                <input placeholder="Please insert location">
                <br>
                <button id="button"><h6>Search</h6></button>
            </form>
            
            <div id="template">
                <span id="City">
                    <h2>City</h2> 
                    <img src="Weather_Logo.svg">
                </span>
                
                <div id="contenedorDatosClima">
                    <div id="encabezadoDatosClima">
                        <h3>Temperature</h3>
                        <h3>Wind Speed</h3>
                        <h3>Humidity</h3>
                    </div>
                    <div id="datosClima">
                        <h4>17 °C</h4>
                        <h4>5 km/h</h4>
                        <h4>100%</h4>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
        <script src="Front.js"></script>
</html>